<section class="bg-light" style="margin-top: 3rem;">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 alert alert-info">
                <h1 class="text-left" style="font-size: 3rem;padding-top: 3rem;">
                    college Name here
                </h1>
            </div>
            <div class="col-sm-2 bg-info">
                <div style="background-color: red;height: 200px;width: 200x;">
                    pic
                </div>
            </div>
            
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                Name of Faculty
                            </td>
                            <td>
                                some thing
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Qualification
                            </td>
                            <td>
                                TET                                
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Experiace
                            </td>
                            <td>
                            10+ years                                
                            </td>
                        </tr>


                        <tr>
                            <td>
                                other details 1
                            </td>
                            <td>
                                
                            </td>
                        </tr>


                        <tr>
                            <td>
                                other details 2
                            </td>
                            <td>
                                
                            </td>
                        </tr>

                        <tr>
                            <td>
                                other details 3
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
           </div>
</div>

</section>