<section class="bg-light">
    <div class="container-fluid">
        <div class="row" style="padding-top: 5rem;">
              
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">

                    </div>
                    <div class="col-sm-auto">
                        <div class="card text-left shadow shadow-sm" style="width: auto;">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-sm">

                                    </div>
                                    <div class="col-sm">
                                        <p style="height: 200px;width: 200px;background-color: red;align-self: center;">
                                            pic
                                        </p>
                                    <a href="teacher">
                                        <h4 class="text-center">
                                            Sandesh Rathod
                                        </h4>
                                    </a>
                                    </div>
                                    <div class="col-sm">

                                    </div>
                                </div>
                                (Thought)
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem beatae cum magni nesciunt voluptatem exercitationem, obcaecati aspernatur soluta possimus enim vitae numquam doloribus natus hic perspiciatis vel itaque tenetur.
                            </div>
                          </div>



                    </div>
                </div>
            </div>
            <div class="col-sm">


            </div> 
        </div>
    </div>

</section>
<section class="bg-light">
    <div class="container-fluid">
        <div class="row" style="padding-top: 5rem;">
            <div class="col-sm">
                <div class="card text-left  shadow shadow-sm" style="width: auto;">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-sm">

                            </div>
                            <div class="col-sm">
                                <p style="height: 200px;width: 200px;background-color: red;align-self: center;">
                                    pic
                                </p>
                                <a href="teacher">
                                <h4 class="text-center">
                                    Sandesh Rathod
                                </h4>
                                </a>
                            </div>
                            <div class="col-sm">

                            </div>
                        </div>
                        (Thought)
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem beatae cum magni nesciunt voluptatem exercitationem, obcaecati aspernatur soluta possimus enim vitae numquam doloribus natus hic perspiciatis vel itaque tenetur.
                    </div>
                  </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="card text-left  shadow shadow-sm" style="width: auto;">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-sm">

                                </div>
                                <div class="col-sm">
                                    <p style="height: 200px;width: 200px;background-color: red;align-self: center;">
                                        pic
                                    </p>
                                    <a href="teacher">
                                    <h4 class="text-center">
                                        Sandesh Rathod
                                    </h4>
                                    </a>
                                </div>
                                <div class="col-sm">

                                </div>
                            </div>
                            (Thought)
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem beatae cum magni nesciunt voluptatem exercitationem, obcaecati aspernatur soluta possimus enim vitae numquam doloribus natus hic perspiciatis vel itaque tenetur.
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-left  shadow shadow-sm rounded" style="width: auto;">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-sm">

                            </div>
                            <div class="col-sm">
                                <p style="height: 200px;width: 200px;background-color: red;align-self: center;">
                                    pic
                                </p>
                                <a href="teacher">
                                <h4 class="text-center">
                                    Sandesh Rathod
                                </h4>
                                </a>
                            </div>
                            <div class="col-sm">

                            </div>
                        </div>
                        (Thought)
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem beatae cum magni nesciunt voluptatem exercitationem, obcaecati aspernatur soluta possimus enim vitae numquam doloribus natus hic perspiciatis vel itaque tenetur.
                    </div>
                  </div>
            </div>
           
        </div>
    </div>
</section>
